version: "3"
services:
  hapi-fhir-jpaserver-start:
    build: .
    container_name: hapi-fhir-jpaserver-start
    restart: on-failure
    ports:
      - "8080:8080"
    network_mode: "host"
    environment:
      SPRING_DATASOURCE_URL: "jdbc:postgresql://127.0.0.1:5432/hapi_r4"
      SPRING_DATASOURCE_USERNAME: "tradmin"
      SPRING_DATASOURCE_PASSWORD: "tradmin"
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: "org.postgresql.Driver"
      SPRING_JPA_DATABASE_PLATFORM: "org.hibernate.dialect.PostgreSQLDialect"
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: "ca.uhn.fhir.jpa.model.dialect.HapiFhirPostgres94Dialect"

#   hapi-fhir-postgres:
#     image: postgres:13-alpine
#     container_name: hapi-fhir-postgres
#     restart: always
#     environment:
#       POSTGRES_DB: "hapi"
#       POSTGRES_USER: "admin"
#       POSTGRES_PASSWORD: "admin"
#     volumes:
#       - hapi-fhir-postgres:/var/lib/postgresql/data
# volumes:
#   hapi-fhir-postgres:
